.responsive-navbar {
  --navbar-height: 60px;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  border-bottom: 1px solid black;
}

.logo {
  height: 60px;
}

.page-links {
  display: none;
}

@media (min-width: 800px) {
  .hamburger-react {
    display: none;
  }
  .page-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }
}
