.responsive-navbar {
  --navbar-height: 60px;
  height: var(--navbar-height);
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  z-index: 1;
}

.page-links {
  display: none;
}

@keyframes expand {
  from {
    width: 0;
    height: 0%;
    background-color: rgba(238, 130, 238, 0%);
    border-left: solid 1px rgba(245, 245, 245, 0%);
  }
  to {
    width: clamp(300px, 100%, 600px);
    height: calc(100% - var(--navbar-height));
    background-color: rgba(195, 224, 229, 97%);
    border-left: solid 1px rgba(245, 245, 245, 100%);
  }
}

@keyframes collapse {
  from {
    width: clamp(300px, 100%, 600px);
    height: calc(100% - var(--navbar-height));
    background-color: rgba(195, 224, 229, 97%);
    border-left: solid 1px rgba(245, 245, 245, 100%);
    display: block;
  }

  to {
    width: 0px;
    background-color: rgba(238, 130, 238, 0%);
    border-left: solid 1px rgba(245, 245, 245, 0%);
    display: none;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: calc(100% - var(--navbar-height));
  right: 0;
  top: var(--navbar-height);
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 2;
}

.menu-open {
  animation: expand 1s ease-in-out forwards;
  display: block;
}

.menu-closed {
  animation: collapse 1s ease-in-out forwards;
  display: none;
}

.menu-open-link {
  animation: fadein 1.3s ease-in-out forwards;
}

.menu-close-link {
  animation: fadeout 0.7s ease-in-out forwards;
}

.mobile-page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.mobile-page-links a {
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.mobile-page-links a:hover {
  background-color: rgba(195, 224, 229, 80%);
  color: blue;
  text-decoration-line: underline;
  transition: background-color 0.7s, color 0.7s;
}

@media (min-width: 800px) {
  .hamburger-react {
    display: none;
  }
  .page-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    padding: 0px;
  }

  .logo {
    height: 60px;
    position: absolute;
  }
}
