/* EnviornmentalLandscape.css */

.landscape-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
}
  
.landscape-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/background.png");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.resources-section h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
  display: inline-block;
  padding: 20px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
  
  .landscape-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .category {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  
  .category h2 {
    text-align: center;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  .category ul {
    list-style: none;
    padding: 0;
    text-align: center;
    line-height: 1.5;
  }
  
  .category ul li {
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .category ul a {
    text-decoration: none;
    color: #007bff;
    flex: 1;
  }
  
  .category ul a:hover {
    text-decoration: underline;
  }


.footer {
  width: 100%;
  background-color: white;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .landscape-categories {
    flex-direction: column;
    align-items: center;
  }

  .category {
    width: 100%;
    margin-bottom: 20px;
  }
}

.delete-resource-btn {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: lightblue; 
  color: white;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.delete-resource-btn:hover {
  background-color: red;
}

.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
  margin: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}